

.start{
  text-decoration: none;
  font-size: 20px;
  margin-right: 65%;
  color: #fff;
  background: #3C8FB7;
  padding: 4px 8px;
	border: 0;
  cursor: pointer;
  margin-top:10px; 
 
}

/* .col-2-3 {
    float: right;
    width: 66%;
  }   */
  .rezult{

    margin-left: 4px;
    font-size: 21px;
    left: 14px; /* позиция иконки */
    position: absolute;
    display: none;
    margin-left: 40%;

  }
.register{
  margin-left: 40%;

  }
.question{
  width:400px;
        height:400px;
        position:absolute;
        top:38%;
        left:40%;

    display: none;
    width:400px;
    height:170px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background: #fff;
	

}


}
.timer{
  color: #f00;
   font-size: 150%; 
   font-weight: bold;
}
.button{
  
   
    width:100px;
    height:75px;
    margin-right: 5px;
    cursor: pointer;
   
}

.submit{
    display: inline-block;
  color: #4784bd;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
}
.image{
    width:90px;
    height:70px;
    
}
.pirfile{
  margin-left:39%;

}
table{
        width:400px;
        height:400px;
        position:absolute;
        top:90%;
        left:40%;
    border: 1px solid grey;
}
th {border: 1px solid grey;}

td {border: 1px solid grey;}
input {
    color:fff;
    background-color: #7c9ab7;
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #a3d2ff;
    outline: none;
}
a {
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}
body {
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
  }
   
  .countdown-title {
    color: #4784bd;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
   
  .countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
   
  .countdown-number {
    padding: 10px;
    border-radius: 3px;
    background: #4784bd;
    display: inline-block;
  }
   
  .countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: #6796c2;
    display: inline-block;
  }
   
  .countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
  }
 


